

body {
  text-align: center;
}

h1{
  text-align: center;
}


#push_right {
  position: absolute;
  left: 1200px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
}
